<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Zero</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="container">
    <section class="block up">Up</section>
    <section class="block down">Down</section>
    <section class="block front">Front</section>
    <section class="block back">Back</section>
    <section class="block left">Left</section>
    <section class="block right">Right</section>
  </main>
</body>
</html>
